<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/pubchem/Gene.vm

const title = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

  SELECT ?title FROM pubchem:gene WHERE
  {
    ?entity skos:prefLabel ?title
  }
`, [{ entity }])).at(0)?.title

const symbol = (await select(`
  PREFIX bao: <http://www.bioassayontology.org/bao#>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?symbol FROM pubchem:gene WHERE
  {
    ?entity bao:BAO_0002870 / sio:SIO_000300 ?symbol
  }
`, [{ entity }])).at(0)?.symbol

const organism = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX up: <http://purl.uniprot.org/core/>

  SELECT ?organism FROM pubchem:gene WHERE
  {
    ?entity up:organism ?organism .
  }
`, [{ entity }])).at(0)?.organism

const alternativeTitleVisualisations = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

  SELECT ?title FROM pubchem:gene WHERE
  {
    ?entity skos:altLabel ?title
  }
`, [{ entity }])).map(a => visualise(a.title))

const pathwayVisualisations = (await select(`
  PREFIX bp: <http://www.biopax.org/release/biopax-level3.owl#>
  PREFIX obo: <http://purl.obolibrary.org/obo/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

  SELECT ?pathway WHERE
  {
    ?pathway rdf:type bp:Pathway.
    ?pathway obo:RO_0000057 ?entity.
  }
`, [{ entity }])).map(p => visualise(p.pathway))

const pubChemUrl = entity.value.replace(/.+\/GID(.+)$/, 'https://www.ncbi.nlm.nih.gov/gene/?term=$1')
%>

<table>
  <tbody>
    <tr>
      <th>PubChem</th>
      <td>
        <a href="<%= pubChemUrl %>"><%= pubChemUrl %></a>
      </td>
    </tr>
    <% if (title) { %>
    <tr>
      <th>Title</th>
      <td><%- await visualise(title) %></td>
    </tr>
    <% } %>
    <% if (symbol) { %>
    <tr>
      <th>Symbol</th>
      <td><%- await visualise(symbol) %></td>
    </tr>
    <% } %>
    <% if (organism) { %>
    <tr>
      <th>Organism</th>
      <td><%- await visualise(organism) %></td>
    </tr>
    <% } %>
    <% if (alternativeTitleVisualisations.length > 0) { %>
    <tr>
      <th>Alternative titles</th>
      <td>
        <% for (const visualisation of alternativeTitleVisualisations) { %>
        <%- await visualisation %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <% if (pathwayVisualisations.length > 0) { %>
    <tr>
      <th>Pathways</th>
      <td>
        <% for (const visualisation of pathwayVisualisations) { %>
        <%- await visualisation %>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>