<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/pubchem/Substance.vm

const compound = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?compound FROM pubchem:substance WHERE
  {
    ?entity sio:CHEMINF_000477 ?compound
  }
`, [{ entity }])).at(0)?.compound

const structuresExist = compound ? await ask(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  ASK FROM pubchem:compound WHERE
  {
    ?S rdf:type sio:SIO_011120.
    ?S sio:SIO_000011 ?compound.
    ?S sio:SIO_000300 ?V.
  }
`, [{ compound }]) : false

const descriptorVisualisations = compound ? (await select(`
  PREFIX descriptor: <http://rdf.ncbi.nlm.nih.gov/pubchem/descriptor/>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?title ?value FROM pubchem:compound FROM descriptor:compound WHERE
  {
    ?compound sio:SIO_000008 ?D.
    ?D rdf:type ?type.
    ?D sio:SIO_000300 ?value.
  }
  VALUES (?type ?title)
  {
    (sio:CHEMINF_000335 "molecular formula")
    (sio:CHEMINF_000379 "isomeric SMILES")
    (sio:CHEMINF_000376 "canonical SMILES")
    (sio:CHEMINF_000396 "IUPAC InChI")
    (sio:CHEMINF_000338 "exact mass")
    (sio:CHEMINF_000334 "molecular weight")
    (sio:CHEMINF_000337 "monoisotopic weight")
    (sio:CHEMINF_000336 "total formal charge")
    (sio:CHEMINF_000395 "XLogP3(-AA)")
    (sio:CHEMINF_000392 "TPSA")
    (sio:CHEMINF_000390 "structure complexity")
    (sio:CHEMINF_000388 "hydrogen bond acceptor count")
    (sio:CHEMINF_000370 "defined atom stereo count")
    (sio:CHEMINF_000371 "defined bond stereo count")
    (sio:CHEMINF_000375 "undefined bond stereo count")
    (sio:CHEMINF_000372 "isotope atom count")
    (sio:CHEMINF_000369 "covalent unit count")
    (sio:CHEMINF_000387 "hydrogen bond donor count")
    (sio:CHEMINF_000373 "non-hydrogen atom count")
    (sio:CHEMINF_000389 "rotatable bond count")
    (sio:CHEMINF_000374 "undefined atom stereo count")
  }
`, [{ compound }])).map(b => ({ title: b.title.value, value: Promise.resolve(b.value.value) /* visualise(b.value)*/ })) : []

const synonymVisualisations = compound ? (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?name FROM pubchem:synonym WHERE
  {
    ?A sio:SIO_000011 ?compound.
    ?A sio:SIO_000300 ?name.
  }
`, [{ compound }])).map(b => visualise(b.name)) : []

const regex = /.+\/[S,C]ID(.+)$/
const pubChemUrl = entity.value.replace(regex, 'https://pubchem.ncbi.nlm.nih.gov/substance/$1')
const imageUrl = compound.value.replace(regex, 'https://idsm.elixir-czech.cz/chemweb/pubchem/compound/svg?id=$1')
%>

<table>
  <tbody>
    <tr>
      <th>PubChem</th>
      <td>
        <a href="<%= pubChemUrl %>"><%= pubChemUrl %></a>
      </td>
    </tr>
    <% if (compound) { %>
    <tr>
      <th>Compound</th>
      <td><%- await visualise(compound) %></td>
    </tr>
    <% } %>
    <% if (structuresExist) { %>
    <tr>
      <th>Structure</th>
      <td>
        <svg data-source="<%= imageUrl %>"></svg>
      </td>
    </tr>
    <% } %>
    <% if (synonymVisualisations.length > 0) { %>
    <tr>
      <th>Synonyms</th>
      <td>
        <% for (const visualisation of synonymVisualisations) { %>
        <%- await visualisation %>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<% if (descriptorVisualisations.length > 0) { %>
<h1>Descriptors</h1>

<table>
  <tbody>
    <% for (const descriptor of descriptorVisualisations) { %>
    <tr>
      <th><%= descriptor.title %></th>
      <td><%- await descriptor.value %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } %>