<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/chebi/Class.vm

const name = (await select(`
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

  SELECT DISTINCT ?name FROM ebi:chebi WHERE
  {
    ?entity rdfs:label ?name .
  }
`, [{ entity }])).at(0)?.name

const structuresExist = await ask(`
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  ASK FROM ebi:chebi WHERE
  {
    ?S rdf:type sio:SIO_011120.
    ?S sio:SIO_000011 ?entity.
    ?S sio:SIO_000300 ?V.
  }
`, [{ entity }])

const descriptorVisualisations = (await select(`
  PREFIX chebi: <http://purl.obolibrary.org/obo/chebi/>
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>

  SELECT DISTINCT ?title ?value FROM ebi:chebi WHERE
  {
    {
      VALUES ?title {"molecular formula"}
      ?entity chebi:formula ?value.
    }
    UNION
    {
      VALUES ?title {"average mass"}
      ?entity chebi:mass ?value.
    }
    UNION
    {
      VALUES ?title {"monoisotopic mass"}
      ?entity chebi:monoisotopicmass ?value.
    }
    UNION
    {
      VALUES ?title {"net charge"}
      ?entity chebi:charge ?value.
    }
    UNION
    {
      VALUES ?title {"SMILES"}
      ?entity chebi:smiles ?value.
    }
    UNION
    {
      VALUES ?title {"IUPAC InChI"}
      ?entity chebi:inchi ?value.
    }
    UNION
    {
      VALUES ?title {"IUPAC InChIKey"}
      ?entity chebi:inchikey ?value.
    }
  }
`, [{ entity }])).map(b => ({ title: b.title.value, value: visualise(b.value) }))

const synonymVisualisations = (await select(`
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>
  PREFIX oboInOwl: <http://www.geneontology.org/formats/oboInOwl#>

  SELECT ?name FROM ebi:chebi WHERE
  {
    ?entity oboInOwl:hasRelatedSynonym|oboInOwl:hasExactSynonym ?name.
  }
`, [{ entity }])).map(b => visualise(b.name))

const regex = /.+\/CHEBI_(.+)$/
const chebiUrl = entity.value.replace(regex, 'https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:$1')
const imageUrl = entity.value.replace(regex, 'https://idsm.elixir-czech.cz/chemweb/chebi/compound/svg?id=$1')
%>

<table>
  <tbody>
    <tr>
      <th>ChEBI</th>
      <td>
        <a href="<%= chebiUrl %>"><%= chebiUrl %></a>
      </td>
    </tr>
    <% if (name) { %>
    <tr>
      <th>Name</th>
      <td><%- await visualise(name) %></td>
    </tr>
    <% } %>
    <% if (structuresExist) { %>
    <tr>
      <th>Structure</th>
      <td>
        <svg data-source="<%= imageUrl %>"></svg>
      </td>
    </tr>
    <% } %>
    <% if (synonymVisualisations.length > 0) { %>
    <tr>
      <th>Synonyms</th>
      <td>
        <% for (const visualisation of synonymVisualisations) { %>
        <%- await visualisation %>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<% if (descriptorVisualisations.length > 0) { %>
<h1>Descriptors</h1>

<table>
  <tbody>
    <% for (const descriptor of descriptorVisualisations) { %>
    <tr>
      <th><%= descriptor.title %></th>
      <td><%- await descriptor.value %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } %>